@charset "UTF-8";

body {
    background-color: rgb(71, 71, 245);
    font-family: Arial, Helvetica, sans-serif;
}


header {
    color: white;
    text-align: center;
}

section {
    display: block;
    margin: auto;
    width: 500px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
    padding: 15px;
}

div > img {
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}